.App {
  text-align: center;
  align-items: center;
  border: solid black 3px;
  margin: 20px;
  background-color: aliceblue;
}


.img {
  width: 200px;
  height: 200px;
  padding-top: 10px;
  border-radius: 50%;
}
.profession {
  display: inline-block;
  border: solid aquamarine 2px;
  width: 70%;
  border-radius: 10%;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.bio {
  display: inline-block;
  border: solid green 2px;
  width: 700px;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
  border-radius: 7%;
}
.profile {
  display: flex;
  justify-content: center;
  
}
button{
  height: 30px;
 
}